@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, button {
    font-family: 'Jersey 10', sans-serif;
}

/* Ser till så att bilderna får korrekt storlek och deras rörelse animeras */
/* När ni sätter intervallen efter vilken pokemonen får sin nya position bör den intervallen överensstämma med tiden här. 3s. */
img {
    width: 300px;
    transition: all 3s linear;
    position: absolute;
}

.d-none {
    display: none !important;
}  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/background.png');
    width: 100vw;
    height: 100vh;
    place-content: center;
    position: relative;
    display: grid;
    place-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.audio-btn {
    position: absolute;
    top: 1rem;
    right: 1rem; 
    display: grid;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    background-color: white;
    place-items: center;

    color: white;
}

.audio-img {
    /* margin-top: 5px; */
    width: 32px;
    height: 32px;
}

.form-wrapper {
    background-color: rgba(255, 255, 255, 0.662);
    border-radius: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

    label {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        input {
            padding: 1rem;
            border-radius: 10px;
        }
    }

    .row {
        flex-direction: row;
        input {
            width:2rem;
        }
    }

    button {
        cursor: pointer;
        padding: 1rem;
        background-color: rgb(109, 109, 241);
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    button:hover {
        background-color: rgb(128, 128, 242);
    }
}

#highScore {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.662);

    h1 {
        text-align: center;
    }

    ol {
      padding: 0 1rem 0 1rem;
      margin: 0;
      
    }

    button {
        cursor: pointer;
        padding: 1rem;
        background-color: rgb(109, 109, 241);
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 1.5rem;
    }
}
